.container-fluid
  .row.justify-content-center
    .col-10.mt-5
      .card.text-center
        .card-header
        .card-body
          %h5.card-title Looks like there is no project here.
          %p.card-text Please click on new project to create a new project and manage your task.
          %a.btn.btn-primary{href: "#", "data-toggle"=> "modal", "data-target"=> "#createProject"} Create new project
